:root {
  --primary-color: #e1b12c;
  --secondary-color: #FF6699;
  --tertiary-color: #218c74;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
}

span {
  color: #30336b;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: #ffff;
  border-radius: 15px;
  text-shadow: none;
}

/* STYLE ALL SECTION TAGS */
section {
  padding: 60px;
}

/* HERO STYLES START */
.hero {
  background-image: url("./images/hero-bg3.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: 7.5%;
  padding: 0;
  width: auto;
  border: 1px solid var(--primary-color);
}

.tagline {
  font-style: italic;
  width: 100%;
  text-align: right;
  margin: 2%;
  padding-top: 18%;
  padding-right: 2%;
  font-size: 60px;
  line-height: 1.2;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--primary-color);
  text-shadow: 1px 1px 2px black, 0 0 2.5px #0000ff, 0 0 5px darkblue;
  letter-spacing: .125in;
}

/* PERSONAL SECTION STYLE */
main {
  background: #ffff;
}

/* PERSONAL-ABOUT */

.about {
  margin: 30px;
  padding: 50px 0 50px 120px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.about h2 {
  color: #30336b;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: right;
  max-width: 15%;
  align-self: center;
  padding-top: 0%;
}

.info-text {
  color: #30336b;
  font-size: 20px;
  text-align: justify;
  padding: 2.5%;
  margin: 2%;
  max-width: 83%;
  line-height: 1.3;
  border-left: 2px solid #30336b;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* PERSONAL_WORK */

.works {
  box-sizing: border-box;
  margin: 30px;
  padding: 10px 50px 50px 200px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.works h2 {
  color: #30336b;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -65px;
  margin-right: 32px;
  text-align: right;
  max-width: 15%;
  align-self: center;
  padding-top: 0%;
}

.info-work {
  display: flex;
  flex-wrap: wrap;;
  padding: 2.5%;
  border-left: 2px solid #30336b;
}

.work-img {
  flex: 25%;
  max-width: 100%;
  padding: 0 4px;
}

.work-img img {
  margin-top: 8px;
  vertical-align: middle;
  padding: .3%;
}

.work-img a {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.work-img a:first-child {
  width: 805px;
  height: 200px;
}

.bottom-left {
  position: absolute;
  font-size: 25px;
  text-align: left;
  color: #30336b;
  margin: -4% -5% 0 1%;
  background-color: #fff;
}

.bottom-right {
  position: absolute;
  font-size: 15px;
  text-align: left;
  color: #30336b;
  margin: -2% -5% 0 1%;
  background-color: #fff;
}

.text-left {
  position: absolute;
  font-size: 25px;
  text-align: right;
  color: #30336b;
  margin: -3.5% -5% -2% 30%;
  background-color: #fff;
}

.text-right {
  position: absolute;
  font-size: 15px;
  text-align: right;
  color: #30336b;
  margin: -1.75% -5% -2% 30%;
  background-color: #fff;
}

/* PERSONAL-CONTACT */

.info-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5%;
  margin: 3%;
  background-color: #218c74;
  outline: 5px solid #eb3b5a;
  border: 3px double var(--primary-color);
}

.info-contacts h2 {
  font-size: 40px;
  color: #30336b;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 0;
  padding-top: 1%;
  padding-right: 2%;
  margin-left: -7%;
  margin-right: 10%;
  border-right: 2px solid #30336b;
}

.list-contacts {
  color: #30336b;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 2%;
  padding-left: 2%;
  margin: 2%;
  max-width: 100%;
  background-color: #218c74;
}

.list-contacts a {
  text-decoration: none;
  color: #fff;
}

.list-contacts ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.list-contacts ul li a {
  padding: 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  display: flex;
  flex-wrap: wrap;
}

.list-contacts ul li a:hover {
  color: var(--primary-color);
  text-shadow: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  /* .hero { }*/

  .tagline {
    width: 100%;
    margin: 2%;
  }

  .infos {
    flex: 0 70%;
  }

  .info-me h2 {
    width: 100%;
    margin-left: -60px;
  }

  .list-contacts {
    font-size: 50px;
  }

  .info-contacts h2 {
    font-size: 25px;
    width: 100%;
  }
}  